[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/grpc"]
	path = extern/grpc
	url = https://github.com/grpc/grpc
	branch = v1.60.x
[submodule "extern/libzmq"]
	path = extern/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "extern/cppzmq"]
	path = extern/cppzmq
	url = https://github.com/zeromq/cppzmq
